.send-btn:hover svg {
    transform: translateX(5em) rotate(45deg) scale(1.1);
}

.send-btn:hover .span {
    transform: translateX(12vw);
}
.send-btn{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
.send-btn:hover {
    box-shadow: 20px 20px 60px #c5c5c5,
    -20px -20px 60px #ffffff;
}
