{% extends "layouts/base.njk" %}
{% block content %}
<section class="site-hero overlay parallax" data-speed="0.5" style="background-image: url(../images/building_face.webp)">
  <div class="container">
    <div class="row site-hero-inner justify-content-center align-items-center">
      <div class="col-md-10 text-center" data-aos="fade-up">
        <span class="custom-caption text-uppercase text-white d-block  mb-3">{{ dict.index.welcomePrefix }} <span class="fa fa-star text-primary"></span><span class="fa fa-star text-primary"></span><span class="fa fa-star text-primary"></span>   {{ title }}</span>
        <h1 class="heading">{{ dict.index.heroHeading }}</h1>
      </div>
    </div>
  </div>
  <a class="mouse smoothscroll" href="#next"><div class="mouse-icon"><span class="mouse-wheel"></span></div></a>
</section>

<section class="section bg-light pb-0">
  <div class="container">
    <div class="row check-availabilty" id="next">
      <div class="block-32" data-aos="fade-up" data-aos-offset="-200">
        <form id="vacancy-check-form">
          <div class="row">
            <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
              <label class="font-weight-bold text-black" for="checkin_date">{{ dict.index.checkin }}</label>
              <div id="checkin_box" class="field-icon-wrap"><div class="icon"></div><input class="form-control" id="checkin_date" type="date" required></div>
            </div>
            <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
              <label class="font-weight-bold text-black" for="checkout_date">{{ dict.index.checkout }}</label>
              <div id="checkout_box" class="field-icon-wrap"><div class="icon"></div><input class="form-control" id="checkout_date" type="date" required></div>
            </div>
            <div class="col-md-6 mb-3 mb-md-0 col-lg-3">
              <div class="row">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="font-weight-bold text-black" for="adults">{{ dict.index.adults }}</label>
                  <div class="field-icon-wrap"><div class="icon"><span class="ion-ios-arrow-down"></span></div>
                    <select class="form-control" id="adults" required><option value="1">1</option><option value="2">2</option><option value="3">3</option></select>
                  </div>
                </div>
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="font-weight-bold text-black" for="children">{{ dict.index.children }}</label>
                  <div class="field-icon-wrap"><div class="icon"><span class="ion-ios-arrow-down"></span></div>
                    <select class="form-control" id="children" required><option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option></select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 align-self-end">
              <button class="btn btn-primary btn-block text-white" id="vacancy-check-button" type="button">{{ dict.index.checkAvailability }}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12 col-lg-7 ml-auto order-lg-2 position-relative mb-5" data-aos="fade-up">
        <figure class="img-absolute"><img class="img-fluid" loading="lazy" src="../images/bedroom_5.webp" alt="Image"></figure>
        <img class="img-fluid rounded" loading="lazy" src="../images/bedroom_4.webp" alt="Image">
      </div>
      <div class="col-md-12 col-lg-4 order-lg-1" data-aos="fade-up">
        <h2 class="heading">{{ dict.index.welcomeHeading }}</h2>
        <p class="mb-4">{{ dict.index.welcomeText }}</p>
        <p><a class="btn btn-primary text-white py-2 mr-3" href="../{{ lang }}/about.html">{{ dict.common.learnMore }}</a></p>
      </div>
    </div>
  </div>
</section>

<section class="section slider-section bg-light">
  <div class="container">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-7">
        <h2 class="heading" data-aos="fade-up">{{ dict.index.galleryHeading }}</h2>
        <p data-aos="fade-up" data-aos-delay="100">{{ dict.index.galleryText }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% include "partials/gallery.njk" %}
      </div>
    </div>
  </div>
</section>

<section class="section bg-image overlay" id="tab-section" style="background-image: url('../images/coupon-kapana.webp');">
  <div class="container">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-7">
        <h2 class="heading text-white" data-aos="fade">{{ dict.index.foodHeading }}</h2>
        <p class="text-white" data-aos="fade" data-aos-delay="100">{{ dict.index.foodText }}</p>
      </div>
    </div>
    {% include "partials/food-tabs.njk" %}
  </div>
</section>

<section class="section testimonial-section">
  <div class="container">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-7">
        <h2 class="heading" data-aos="fade-up">{{ dict.index.peopleSay }}</h2>
      </div>
    </div>
    <div class="row">
        <div class="embla-testimonial mb-5" data-aos="fade-up" data-aos-delay="200">
            <button class="embla-testimonial__prev embla__button embla__button--prev"><span class="slider-controls"><svg width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M15 6L9 12L15 18" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg></span></button>
            <div class="embla-testimonial__viewport">
                <div class="embla__container">
                    {% include "partials/testimonials.njk" %}
                </div>
            </div>
            <button class="embla-testimonial__next embla__button embla__button--next"><span class="slider-controls"><svg width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9 6L15 12L9 18" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg></span></button>
        </div>
    </div>
  </div>
</section>

<section class="section blog-post-entry bg-light">
  <div class="container">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-7">
        <h2 class="heading" data-aos="fade-up">{{ dict.index.postsHeading }}</h2>
        <p data-aos="fade-up">{{ dict.index.postsText }}</p>
      </div>
    </div>
    <div class="row" id="posts-container">
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 post" data-aos="fade-up" data-aos-delay="100">
            <div class="media media-custom d-block mb-4 h-100">
                <a  class="mb-4 d-block post-link"><img  alt="" class="img-fluid"></a>
                <div class="media-body">
                    <span class="meta-post"></span>
                    <h2 class="mt-0 mb-3"><a class="post-link" ></a></h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 post" data-aos="fade-up" data-aos-delay="200">
            <div class="media media-custom d-block mb-4 h-100">
                <a  class="mb-4 d-block post-link"><img  alt="" class="img-fluid"></a>
                <div class="media-body">
                    <span class="meta-post"></span>
                    <h2 class="mt-0 mb-3"><a class="post-link" ></a></h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 post" data-aos="fade-up" data-aos-delay="300">
            <div class="media media-custom d-block mb-4 h-100">
                <a class="mb-4 d-block post-link"><img  alt="" class="img-fluid"></a>
                <div class="media-body">
                    <span class="meta-post"></span>
                    <h2 class="mt-0 mb-3"><a class="post-link" ></a></h2>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>

<section class="section bg-image overlay" style="background-image: url('../images/building_face.webp');">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 text-center mb-4 mb-md-0 text-md-left" data-aos="fade-up">
        <h2 class="text-white font-weight-bold">{{ dict.index.ctaHeading }}</h2>
      </div>
      <div class="col-12 col-md-6 text-center text-md-right" data-aos="fade-up" data-aos-delay="200">
        <a class="btn btn-outline-white-primary py-3 text-white px-5" href="../{{ lang }}/reservation.html">{{ dict.index.ctaButton }}</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
