<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="timeline-item" data-aos="fade"><p>{{ dict.about.text1 }}</p></div>
    <div class="timeline-item" data-aos="fade"><p>{{ dict.about.text2 }}</p></div>
    <div class="timeline-item" data-aos="fade"><p>{{ dict.about.text3 }}</p></div>
    <div class="timeline-item" data-aos="fade"><p>{{ dict.about.text4 }}</p></div>
  </div>
</div>