<div class="row">
  <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
    <div class="block-2"><div class="flipper">
      <div class="front" style="background-image: url(../images/bedroom_1.webp);"><div class="box"><h2>{{ dict.about.card1Title }}</h2><p><br></p></div></div>
      <div class="back"><blockquote><p>{{ dict.about.card1Text }}</p></blockquote><div class="author d-flex"><div class="image mr-3 align-self-center"><img alt="" src="../images/bedroom_1.webp"></div><div class="name align-self-center">{{ dict.about.card1Title }}</div></div></div>
    </div></div>
  </div>
  <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
    <div class="block-2"><div class="flipper">
      <div class="front" style="background-image: url(../images/kapana_dist.webp);"><div class="box"><h2>{{ dict.about.card2Title }}</h2><p><br></p></div></div>
      <div class="back"><blockquote><p>{{ dict.about.card2Text }}</p></blockquote><div class="author d-flex"><div class="image mr-3 align-self-center"><img alt="" src="../images/kapana_dist.webp"></div><div class="name align-self-center">{{ dict.about.card2Title }}</div></div></div>
    </div></div>
  </div>
  <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
    <div class="block-2"><div class="flipper">
      <div class="front" style="background-image: url(../images/kapana_street.webp);"><div class="box"><h2>{{ dict.about.card3Title }}</h2><p><br></p></div></div>
      <div class="back"><blockquote><p>{{ dict.about.card3Text }}</p></blockquote><div class="author d-flex"><div class="image mr-3 align-self-center"><img alt="" src="../images/kapana_street.webp"></div><div class="name align-self-center">{{ dict.about.card3Title }}</div></div></div>
    </div></div>
  </div>
</div>