<div class="food-menu-tabs" data-aos="fade">
  <ul class="nav nav-tabs mb-5" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active letter-spacing-2 tab-menu" id="dinner-tab" data-toggle="tab" href="#dinner" role="tab" aria-controls="dinner" aria-selected="true" data-image="../images/coupon-kapana.webp">{{ dict.index.dinner }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link letter-spacing-2 tab-menu" id="breakfast-tab" data-toggle="tab" href="#breakfast" role="tab" aria-controls="breakfast" aria-selected="false" data-image="../images/kapana-bakery_v2.webp">{{ dict.index.breakfast }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link letter-spacing-2 tab-menu" id="pastries-tab" data-toggle="tab" href="#pastries" role="tab" aria-controls="pastries" aria-selected="false" data-image="../images/dolce-bcg_v2.webp">{{ dict.index.pastries }}</a>
    </li>
  </ul>
  <div class="tab-content py-5" id="myTabContent">
    <div class="tab-pane fade show active text-left" id="dinner" role="tabpanel" aria-labelledby="dinner-tab">
      <div class="row justify-content-center"><div class="col-md-6">
        <div class="food-menu mb-5"><h3 class="text-white"><span class="text-white">{{ dict.index.coupon }}</span></h3><p class="text-white text-opacity-7">{{ dict.index.dinnerText1 }}</p></div>
        <div class="food-menu mb-5"><p class="text-white text-opacity-7">{{ dict.index.dinnerText2 }}</p></div>
        <div class="food-menu mb-5"><div class="col-12 col-md-6 text-center mx-auto" data-aos="fade-up" data-aos-delay="200"><a class="btn btn-outline-white-primary py-3 text-white px-5" href="https://www.instagram.com/coupon_kapana?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">{{ dict.common.learnMore }}</a></div></div>
      </div></div>
    </div>
    <div class="tab-pane fade text-left" id="breakfast" role="tabpanel" aria-labelledby="breakfast-tab">
      <div class="row justify-content-center"><div class="col-md-6">
        <div class="food-menu mb-5"><h3 class="text-white"><span class="text-white">{{ dict.index.kapanaBakery }}</span></h3><p class="text-white text-opacity-7">{{ dict.index.breakfastText1 }}</p></div>
        <div class="food-menu mb-5"><p class="text-white text-opacity-7">{{ dict.index.breakfastText2 }}</p></div>
        <div class="food-menu mb-5"><div class="col-12 col-md-6 text-center mx-auto" data-aos="fade-up" data-aos-delay="200"><a class="btn btn-outline-white-primary py-3 text-white px-5" href="https://restaurantguru.com/Kapana-Bakery-Plovdiv-2" target="_blank">{{ dict.common.learnMore }}</a></div></div>
      </div></div>
    </div>
    <div class="tab-pane fade text-left" id="pastries" role="tabpanel" aria-labelledby="pastries-tab">
      <div class="row justify-content-center"><div class="col-md-6">
        <div class="food-menu mb-5"><h3 class="text-white"><span class="text-white">Dolce by Chef Gogov</span></h3><p class="text-white text-opacity-7">{{ dict.index.pastriesText1 }}</p></div>
        <div class="food-menu mb-5"><p class="text-white text-opacity-7">{{ dict.index.pastriesText2 }}</p></div>
        <div class="food-menu mb-5"><div class="col-12 col-md-6 text-center mx-auto" data-aos="fade-up" data-aos-delay="200"><a class="btn btn-outline-white-primary py-3 text-white px-5" href="https://www.instagram.com/dolce.plovdiv">{{ dict.common.learnMore }}</a></div></div>
      </div></div>
    </div>
  </div>
</div>