<div class="embla-gallery mb-5" data-aos="fade-up" data-aos-delay="200">
    <button class="embla-gallery__prev embla__button embla__button--prev"><span class="slider-controls"><svg width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M15 6L9 12L15 18" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg></span></button>
    <div class="embla-gallery__viewport">
        <div class="embla__container">
  {% for img in [
  'living_room_6','living_room_1','kitchen_2','collage_4','bedroom_11','bedroom_3','bedroom_7','bedroom_13','bathroom_2','bathroom_1','hall_3','balcony_1','balcony_2','living_room_2','living_room_7','bedroom_1','bedroom_2','bedroom_4','bedroom_6','bedroom_8','bedroom_9','bedroom_10','bedroom_12','collage_1','collage_2','collage_3','collage_5'] %}
  <div class="embla__slide"><a class="glightbox" data-gallery="images" href="../images/{{ img }}.webp"><img {% if img != 'living_room_6' and img != 'living_room_1' %}loading="lazy"{% endif%} class="img-fluid" src="../images/{{ img }}.webp" alt="{{ img | replace('_',' ') }}"></a></div>
  {% endfor %}
        </div>
    </div>
    <button class="embla-gallery__next embla__button embla__button--next"><span class="slider-controls"><svg width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9 6L15 12L9 18" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg></span></button>
</div>