<script type="text/javascript">
  var _iub = _iub || [];
  _iub.csConfiguration = {
    'siteId': 3889158,
    'cookiePolicyId': 20321686,
    'lang': 'en',
    'storage': { 'useSiteId': true }
  };
</script>
<script src="https://cs.iubenda.com/autoblocking/3889158.js" type="text/javascript" defer></script>
<script src="//cdn.iubenda.com/cs/tcf/stub-v2.js" type="text/javascript" defer></script>
<script src="//cdn.iubenda.com/cs/tcf/safe-tcf-v2.js" type="text/javascript" defer></script>
<script src="//cdn.iubenda.com/cs/gpp/stub.js" type="text/javascript" defer></script>
<script charset="UTF-8" src="//cdn.iubenda.com/cs/iubenda_cs.js" type="text/javascript" defer></script>
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSZTKXJC" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
    {% if pageId == 'contact' or pageId == 'reservation' %}
            <script async defer src="https://www.google.com/recaptcha/api.js"></script>
    {% endif %}
    {% if pageId != 'post' or pageId != 'posts' %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous" defer></script>
    {% endif %}

    {% if pageId == 'about' or pageId == 'index' or pageId == 'reservation' %}
        <script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js" integrity="sha384-XGqLM9+dJ+PFOMZn6IuZgRRIoxcAT5fx4eIZCx7K3O2Dj5RA7EOlJ3yOS8Jd+kiY" crossorigin="anonymous"></script>        {% if pageId != 'reservation' %}
            <script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js" integrity="sha384-MZZbZ6RXJudK43v1qY1zOWKOU2yfeBPatuFoKyHAaAgHTUZhwblRTc9CphTt4IGQ" crossorigin="anonymous"></script>
        {% endif %}
    {% endif %}
    <script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha384-n1AULnKdMJlK1oQCLNDL9qZsDgXtH6jRYFCpBtWFc+a9Yve0KSoMn575rk755NJZ" defer></script>
    <script defer src="../js/main.js"></script>
{% if pageId == 'index' %}
    <script defer src="../js/index.js"></script>
{% endif %}
{% if pageId == 'contact' %}
    <script defer src="../js/contact.js"></script>
{% endif %}
{% if pageId == 'reservation' %}
    <script defer src="../js/reservation.js"></script>
{% endif %}
{% if pageId == 'post' %}
    <script defer src="../js/post.js"></script>
{% endif %}
{% if pageId == 'posts' %}
    <script defer src="../js/posts.js"></script>
{% endif %}